<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Update</title>
    <style>
         .text-below-img{
            margin-top: 12px;
        }
       @media only screen and (max-width:600px) {
        .text-below-img{
            margin-top: 6px !important;
        }
      
            p{
                line-height: 1.5;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f4f4f4">
        <tr>
            <td align="center" style="padding: 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #ffffff; overflow: hidden; border-spacing: 0; font-family: Arial, sans-serif;">
                    <tr>
                        <td colspan="2" align="center" style="background-color: #5a47b6; padding: 20px;">
                            <img src="https://storage.googleapis.com/techraq/logo.png" 
                                 alt="Company Logo" 
                                 width="150" 
                                 style="display: block; max-width: 150px; height: auto; border: 0;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 20px 40px; font-size: 16px; line-height: 24px; color: #383838 !important; font-weight:600;">
                        <br><br>
                        
                        <p style="font-size: 16px;color: #383838 !important;">Dear <span style="color: #5a47b6">{{ first_name }}</span>,</p>
                        
                        <p style="font-size: 16px;color: #383838 !important;">Thank you once again for your interest in the <span style="color: #5a47b6;">TechRAQ Solutions Fresher Recruitment Drive.</span></p>
                        
                        <p style="font-size: 16px;color: #383838 !important;">Further to our earlier communication about the Written Test, please note that it will now be organized in an <span style="color: #eb2222;">ONLINE format between 1st September and 15th September 2025.</span></p>
                        
                        <p style="font-size: 16px;color: #383838 !important;">You will receive an individual communication via email, with the following details:</p>
                        
                        <ul style="font-size: 16px; color: #383838 !important; padding-left:20px;">
                            <li>Confirmed date and time slot of your Online Test</li>
                            <li>Online examination link and login credentials</li>
                            <li>Instructions and technical requirements for the exam</li>
                        </ul>
                        
                        <p style="font-size: 16px;color: #383838 !important;">This information will be <span style="color: #f03232;">shared with you directly via email</span> in advance of your test date.</p>
                        
                        <p style="font-size: 16px;color: #383838 !important;">We appreciate your patience and look forward to your active participation in the forthcoming <span style="color: #eb2222;">online</span> examination.</p>
                        
                        <p style="font-size: 16px;color: #0d0c0c !important; font-weight:bold;">There will <span style="color: #eb2222;">NOT</span> be any in-person written test as published earlier, so DO NOT come to Venue.</p>
                        
                        <br><br>
                        
                        <p style="font-size: 16px;color: #383838 !important;">Thanks & Regards,<br>
                        HR Team<br>
                        Phone: 7842181883 / 9063839746<br>
                        registrations@techraq.com</p>
                        
                        <table width="100%"></table>
                        </td>
                    </tr>
                    
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
