<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Test – TechRAQ Fresher Drive</title>
  <style>
    .text-below-img {
      margin-top: 12px;
    }
    @media only screen and (max-width:600px) {
      .text-below-img {
        margin-top: 6px !important;
      }
      p {
        line-height: 1.5;
      }
    }
  </style>
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f4f4f4">
    <tr>
      <td align="center" style="padding: 10px;">
        <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #ffffff; overflow: hidden; border-spacing: 0; font-family: Arial, sans-serif;">
          <tr>
            <td colspan="2" align="center" style="background-color: #5a47b6; padding: 20px;">
              <img src="https://storage.googleapis.com/techraq/logo.png" 
                   alt="Company Logo" 
                   width="150" 
                   style="display: block; max-width: 150px; height: auto; border: 0;">
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding: 20px 40px; font-size: 16px; line-height: 24px; color: #383838 !important;">
              
              <p style="font-size: 16px; color: #383838 !important; font-weight:600;">Dear {{ first_name }},</p>

              <p>We are pleased to inform you that your Online Test for the <b>TechRAQ Solutions Fresher Recruitment Drive</b> has been scheduled. Kindly find the details below:</p>

              <p><b>PLEASE GO THROUGH THE EMAIL CONTENT BELOW COMPLETELY.</b></p>

              <p>
                <b>Exam Link: </b><a href="https://onlinetestzone.com/users/login/">https://onlinetestzone.com/users/login/</a> <br>
                <b>Login Credentials:</b><br>
                Username: {{ registration_id }}<br>
                Password: {{dob}} 
              </p>

              <p style="font-weight:600; color:#5a47b6;">Schedule:</p>
              <p>
                <b>Date:</b> {{exam_date}}<br>
                <b>Time:</b> {{start_time}} to {{end_time}} (1.5 hours)
              </p>

              <p style="font-weight:600; color:#5a47b6;">System & Login Requirements</p>
              <ul>
                <li>The test can be accessed only on a Laptop/Desktop (mobile devices are not supported).</li>
                <li><b>Google Chrome browser is mandatory</b>. Please ensure it is downloaded and kept ready before the exam. The test will not work on Safari, Edge, Firefox, or Internet Explorer etc.</li>
                <li>Camera access is mandatory. If the camera is disabled, you will not be able to proceed with the exam.</li>
                <li>Your video feed will be monitored using AI-based proctoring tools throughout the test. Any suspicious activity may lead to auto-submission or disqualification.</li>
                <li>Allow location access if prompted.</li>
                <li>Complete the captcha verification to proceed the test selection.</li>
                <li>Please read all on-screen instructions provided carefully before starting the test.</li>
              </ul>

              <p style="font-weight:600; color:#5a47b6;">Exam Format & Duration</p>
              <ul>
                <li>You are allotted with a 1 hour 30-minute slot, within which the 1-hour test must be completed. A buffer of 30 minutes is provided to read instructions carefully and mitigate any unforeseen technical issues like power/internet disruptions. We strongly recommend logging in promptly at the start of your slot.</li>
                <li>The exam consists of two sections:</li>
                <ul>
                  <li>General Aptitude – 20 Questions | 25 minutes</li>
                  <li>Technical – 20 Questions | 35 minutes</li>
                </ul>
                <li>At the start of Section 2, you will be required to select your primary skill area. Please choose carefully as it cannot be changed once selected. Select the one that best suits your strength.</li>
                <li>The available technical skill options for section two are as follows:</li>
                <ul>
                  <li>.Net</li>
                  <li>Python</li>
                  <li>PHP</li>
                  <li>QA</li>
                  <li>FrontEnd (HTML, CSS, JavaScript, React/Angular)</li>
                </ul>
                <li>The test must be completed in a single attempt, and once submitted, answers cannot be changed or modified.</li>
              </ul>

              <p style="font-weight:600; color:#5a47b6;">Auto-Submission Triggers</p>
              <ul>
                <li>The system will automatically submit your test if any of the following occur:</li>
                <ul>
                  <li>The 1-hour duration ends or your allotted slot of 1 hour 30 minutes end whichever occurs first.</li>
                  <li>Multiple persons are detected on camera more than 3 times.</li>
                  <li>You switch tabs/windows (Alt/Tab) more than 3 times.</li>
                  <li>Multiple login attempts exceed 3 times.</li>
                  <li>A screenshot or photo of the exam is captured.</li>
                  <li>If it is learnt that you are using help from others in any way to submit the answers</li>
                </ul>
              </ul>

              <p style="font-weight:600; color:#5a47b6;">Do’s</p>
              <ul>
                <li>Be in a professional, quiet, and well-lit environment with your camera enabled.</li>
                <li>Ensure a stable internet connection and a fully charged device.</li>
                <li>Keep your speakers ON to receive alerts and instructions.</li>
                <li>Begin the test promptly within your allocated time slot.</li>
                <img src="https://storage.googleapis.com/techraq/DOS%20AND%20DONTS.png" alt="imge" width="100%" style="margin-top:12px; margin-bottom:12px;">
              </ul>

              <p style="font-weight:600; color:#5a47b6;">Don’ts</p>
              <ul>
                <li>Do not use a mobile phone to attempt the exam.</li>
                <li>Do not mute your speakers.</li>
                <li>Do not try to get any help from other people/tools to take the exam.</li>
                <li>Do not allow others to appear in the camera view.</li>
                <li>Do not leave the exam window idle or unattended.</li>
                <li>Do not attempt to capture or share screenshots/photos.</li>
              </ul>

              <p>We appreciate your cooperation in adhering to these guidelines and wish you the very best for your examination.</p>

              <p>In case of questions, reach out to our team 
                <span style="color:#383838;">7842181883 / 9063839746 / 
                   
                  <a href="mailto:registrations1@techraq.com" style="color:#5a47b6; text-decoration:none;">registrations@techraq.com</a>
                  / <a href="mailto:registrations1@techraq.com" style="color:#5a47b6; text-decoration:none;">registrations1@techraq.com</a>
                </span>
              </p>

              <br>
              <p style="font-size: 16px; color: #383838 !important;">
                Warm Regards,<br>
                <b>TechRAQ Solutions – Recruitment Team</b>
              </p>
              
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
