django==4.2.3
gunicorn
python-dotenv
whitenoise
django-admin-material-dashboard==1.0.5

psycopg2-binary
mysqlclient
reportlab==4.2.5
django-widget-tweaks
Pillow
pandas 
openpyxl
requests
qrcode[pil]
xhtml2pdf
django-cron
django-user-agents
geoip2
#django-prometheus

