{% extends "layouts/base.html" %} {% load static %} {% block extrastyle %}
{%load widget_tweaks %}
<link
  href="{% static 'custom/css/add-user-admin-side.css' %}"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="registration-container">
        {% if messages %} {% for message in messages %}
        <div
          class="alert alert-{{ message.tags }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
          ></button>
        </div>
        {% endfor %} {% endif %}

        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <div class="section-header">
            <i class="fas fa-user me-2"></i>Create QR Code
          </div>
          <div class="mb-3">
            <label for="id_name" class="form-label">Name</label>
            {{ form.name|add_class:"form-control" }}
            <div class="text-danger small">{{ form.name.errors }}</div>
            <!-- fix here -->
          </div>

          <div class="mb-3">
            <label for="id_target_url" class="form-label">TargetUrl</label>
            {{ form.target_url|add_class:"form-control" }}
            <div class="text-danger small">{{ form.target_url.errors }}</div>
            <!-- fix here -->
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
